body{
    margin: 0px;
    background-color: rgb(0, 0, 0);
    color: white;
    

}
.header{
    background-image: url(https://www.mintlify.com/hero/bg-dark.svg);


    height: 150vh;

    background-repeat: no-repeat;
    background-size: cover;
}

.logo{
    display: flex;
    justify-content: center;
    gap: 0px;
    padding-top: 20px;
}

.logotxt{
    font-size: 25px;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 25px;
    padding-left: 80px;
    cursor: pointer;
    position: fixed;
    width: 95%;
    z-index: 10;
    backdrop-filter: blur(1px);
    padding-bottom: 10px;

}

.logoul{
    list-style:none ;
    display: flex;
    margin-top: 20px;

}

.logolinks{
    text-decoration: none;
    color: white;
    padding-right: 18px;
    font-size: 20px;
}

.btns{
    padding-top:18px ;
    display: flex;
    gap: 20px;
    padding-right: 30PX;
}

.navbtn{
    padding: 10px;
    border-radius: 20px;
    border: 1px solid white;

    
}

.btn1{
    border: 1px solid rgba(135, 206, 250, 0.169);
    background-color: #4f809b7e;
    color: white;
    cursor: pointer;
}

.btn2{
    cursor: pointer;
}

.longbtn{
    background-color: rgba(0, 0, 0, 0.059);
    padding: 9px;
    border-radius: 20px;
    align-items: center;
    margin-left: 420px;
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 600px;
}

.new{
    background-color: rgba(9, 213, 9, 0.667);
    color: white;
    padding: 5px;
    border-radius: 10px;
    margin-right: 5px;
}

.newtxt{
    color: white;
}

.arr{
    background-color: rgba(255, 255, 255, 0.868);
    color: black;
    padding: 2px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 50%;
}

.long{
    margin-top: 20px;
    padding-top: 100px;
}

.start_now{
    padding: 10px;
    
    border: 1px solid rgba(247, 243, 243, 0.123);
    border-radius: 20px;
    /* margin-left:100px ; */
    margin-right: 30px;
    background-color: rgba(255, 255, 255, 0.176);

}

.start_now_email{
    background-color: rgba(69, 154, 160, 0.185);
    border: 0px;
    margin-right: 90px;
    

}

.hero{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    line-height: 9px;
}

.start_now_btn{
    padding: 6px;
    border-radius: 10px;
    border: 1px solid lightblue;
    cursor: pointer;
}

.hero_text{
    color: white;
    font-size: 49px;
    /* margin-left: 200px; */
    margin-bottom: 5px;
    

}

.hero_para{
    padding-top: 41px;
    /* padding-left: 200px; */
}

.hero_par{
    /* padding-left: 230px; */
    padding-bottom: 30px;
}

.des{
    color: white;
    font-size: 20px;
    margin-bottom: 0px;
    margin-right: 30px;
}

::placeholder{
    color: white;
}

.text{
    padding-right: 50px;
    padding-bottom: 0px;
}

.heroimg{
    margin-left: 100px;
    margin-top: 80px;
}

.heroimg>img{
    border-radius: 20px;
}

.comp{
    margin-top: 300px;
    color: white;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 40px;
    margin-left: 100px;
    margin-top: 410px;

}

.built{
    display: flex;
    color: white;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
}

.built_text{
    font-size: 40px;
    margin-bottom: 5px;
}


.built_p{
    font-size: 18px;
    margin-bottom: 0px;
    line-height: 10px;
    color: rgba(255, 255, 255, 0.534);
}

.built_contain{
    border: 1px solid rgba(255, 255, 255, 0.105);
    border-radius: 20px;
}

.built_box{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 70px;
    justify-content: space-around;
    margin-left: 100px;
    margin-right: 200px;

}

.built_inner{
    padding-left: 20px;
    padding-top: 15px;
}

.built_head{
    color: rgb(24, 226, 153);
}


.built_rem{
    margin-bottom: 0px;
    line-height: 16px;
    color: rgba(240, 248, 255, 0.758);
}

.built_img{
    padding-top: 10px;
    padding-right: 10px;
}

.assistant_box{
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    padding-left: 20px;
    padding-top: 30px;
}

.assistant{
    margin-top: 50px;
    margin-left: 90px;
    margin-right: 90px;
    padding-bottom: 150px;
}

.assistant_txt{
    text-align: center;
}

.assistant_head{
    color:rgb(24, 226, 153);
}

.assistant_txts{
    margin-bottom: 0px;
    line-height: 5px;
    color: rgba(240, 248, 255, 0.758);
    font-size: 18px;
}

.assistant_img{
    padding-top: 50px;
    border-radius: 20px;
}

.enterprise{
    background-color: rgba(128, 128, 128, 0.205);
    padding-top: 80px;
}

.enterprise_box{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.enterprise_head{
    color: rgb(24, 226, 153);
}

.enterprise_big{
    font-size: 50px;
    line-height: 5px;
}

.enterprise_text{
    font-size: 20px;
    color: rgba(255, 255, 255, 0.406);
}

.enterprise_button{
    padding: 10px;
    padding-left: 18px;
    padding-right: 18px;
    border-radius: 25px;
    font-size: 17px;
    padding-top: 13px;
    padding-bottom: 13px;
    cursor: pointer;
    
}

.compliance{
    background-color: rgba(128, 128, 128, 0.205);
    display: flex;
    justify-content: space-around;
    padding: 50px;
    padding-right: 90px;
}

.compliance_txt{
    font-size: 19px;
    line-height: 7px;
    color: rgba(255, 255, 255, 0.406);
}

.story{
         background-color: rgba(128, 128, 128, 0.205);
        background-image: url(https://www.mintlify.com/enterprise/anthropic.svg); 
        height: 80vh;
        background-size:cover;
        background-position: center;
        background-repeat: no-repeat;
        background-color: blue;
        margin-left: 100px;
        margin-right: 100px;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        padding: 50px;
        
}

.story_outer{
    background-color: rgba(128, 128, 128, 0.205);
    padding-top: 100px;
}

.review{
    display: flex;
    gap: 50px;
    padding-top: 120px;
}

.reviewed{
    font-size: 30px;
}

.company{
    background-color: rgba(128, 128, 128, 0.205);
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding-top: 50px;
    padding-left: 150px;
    padding-bottom: 100px;
}

.Customers_head{
    color: rgb(24, 226, 153);
    
}

.customerdg{
    text-align: center;
}

.Customers{
    padding-top: 100px;
}

.customerlg{
    font-size: 33px;
}

.lines{
    
    line-height: 5px;
}

.fons{
    color: rgba(255, 255, 255, 0.505);
}

.box{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    padding-left: 50px;
    padding-right: 50px;
}

.box_img{
    border-radius: 20px;
}

.box_link{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.493);
}

.box_txt{
    color: rgba(255, 255, 255, 0.799);
}

.documentation{
    padding-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.documentation_head{
    line-height: 0px;
    padding-left: 20px;
}

.documentation_txt{
    font-size: 40px;
    padding-left: 40px;
    
}

.documentation_p{
    font-size: 20px;
    color: rgba(255, 255, 255, 0.854);
    
}

.txtsa{
    padding-left: 28px;
}

.documentation_div{
    border-bottom: 0px;
    line-height: 18px;
}

.documentation_btn{
    margin-top: 20px;
    padding-bottom: 80px;
    cursor: pointer;
}

.docu_bnt1{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.374);
    margin-right: 10px;
    cursor: pointer;
}

.docu_btn2{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
    background-color: black;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.374);
}

.Pricing{
    display: flex;
    justify-content: space-around;
    margin-left: 80px;
    margin-right: 80px;
    
}

.Pricing_box1{
    
    text-align: center;
}

.Pricing_links{
    text-decoration: none;
    color: rgb(24, 226, 153);
    
}

.Pricing_img{
    border: 1px solid rgba(255, 255, 255, 0.226);
    border-radius: 12px;
    padding: 10px;
}

.Pricing_p{
   font-size: 20px;
   
}

.boxs{
    border-right: 1px solid rgba(255, 255, 255, 0.128);
    padding-right: 150px;
    
}

.side{
    padding-top: 100px;
    border-bottom:1px solid rgba(255, 255, 255, 0.128);
}

.botton_links{
    display: flex;
    justify-content: space-between;
    padding-left: 60px;
    margin-left: 90px;
    padding-right: 60px;
    margin-right: 90px;
    padding-top: 60px;
    padding-bottom: 30px;
    border: 1px solid rgba(255, 255, 255, 0.128);
}

.button_img{
    padding-left: 20px;
    cursor: pointer;
}

.linking{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding-left: 60px;
    margin-left: 90px;
    padding-right: 60px;
    margin-right: 90px;
    padding-top: 60px;
    padding-bottom: 30px;
    border: 1px solid rgba(255, 255, 255, 0.128);
}

.linking_link{
    text-decoration: none;
    color: white;
    line-height:50px;
}

.linking_head{
    color: rgba(255, 255, 255, 0.365);
}

.soc{
    display: flex;
    gap: 60px;
    align-items: center;
    padding-left: 20px;
    margin-left: 90px;
    padding-right: 60px;
    margin-right: 90px;
    padding-top: 20px;
    padding-bottom: 10px;
    border: 1px solid rgba(255, 255, 255, 0.128);
}

.system{
    /* display: grid;
    grid-template-rows: 1fr;
    grid-column: 1fr 1fr 1fr; */
    display: flex;
    justify-content: space-around;
    padding-left: 60px;
    margin-left: 90px;
    padding-right: 60px;
    margin-right: 90px;
    padding-top: 60px;
    padding-bottom: 30px;
    border: 1px solid rgba(255, 255, 255, 0.128);
}

.system1{
    display: flex;
    gap: 5px;
    background-color: rgba(255, 255, 255, 0.08);
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;

}

.system2{
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.08);
    border-radius: 10px;
}



